.nav {
  height: 60px;
  background-color: #a0c49d;
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  align-items: center;
  margin-right: 50px;
  font-size: 50px;
}
.right {
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-size: 20px;
}
.right .active {
  background: #232b22;
  color: #c4d7b2;
  border-radius: 20px;
  text-decoration: none;
}
.right a {
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  color: #e1ecc8;
}
.left a {
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  color: #e1ecc8;
}
.search-nav {
  margin: 15px auto;
  color: #e1ecc8;
  font-size: 20px;
}

.search-nav input {
  width: 250px;
  height: 30px;
  border-radius: 20px;
}
